<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/about.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BOShield</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login","Home")">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("SignUp","Home")">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer class="footer bg-dark py-3 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-secondary">
                    <h5>BOShield</h5>
                </div>
                <div class="col-md-3 text-secondary">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-secondary">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-secondary">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-phone"></i> (534) 400 95 09</li>
                        <li><i class="fas fa-envelope"></i> info@boshield.com</li>
                        <li><i class="fas fa-map-marker-alt"></i> Maltepe, İstanbul</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $('.hr-style').toggleClass('hr-rotate');
                $('.text-1-tleft').toggleClass('t1thide');
                $('.text-1-bright').toggleClass('t1bhide');
                $('.text-2-tright').toggleClass('t2tshow');
                $('.text-2-bleft').toggleClass('t2bshow');

            }, 2000);
        });
    </script>
    <script>
        document.getElementById("downloadButton").addEventListener("click", function() {
        window.location.href = "@Url.Action("Download", "Home")";
        });
    </script>
</body>
</html>
